html {
  height: 100%;
  width: 100%;
}
.timer{
  text-align: center;
  font-size: 50px;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px;
  border:2px solid maroon;
  background-color: lightsalmon;
}
#clock{
  display:inline-block;
  border: 2px solid grey;
  margin: 2px;
  padding: 5px;
}
